<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MANY BODY LABS</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/v4-shims.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- pygments -->
    <link rel="stylesheet" type="text/css" href="assets/css/monokai.css">

    <link href= "assets/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
      	<div class="title-logo-text">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">  &nbsp; MANY BODY LABS</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://github.com/manybodylabs">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="mailto:info@manybodylabs.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
          <div class="intro-body">
          <div class="container">

            <div class="container">
              <div class="row">
                <div class="col-lg-14 mx- style="font-size:60px"auto">
                <div class="title-logo-text">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                  <img width=400 src="assets/images/feynman_diagram_logo.svg">

                  <h1 class=intro-title style="font-size:80px" align='right'>
                   THEORETICAL RESEARCH ON EXPERIMENTAL MATERIAL SCIENCE</h1><br>
                   <h4 class=intro-title align='right'><nobr>
                    DIGITAL TOOLS FOR EXPERIMENTERS.</nobr><br>
                    <nobr>Complex but not complicated.</nobr><br>
                     <nobr>We ❤ open source.</nobr></h4>
                </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </header>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/js/grayscale.min.js"></script>

  </body>

</html>
